<table class="MsoTableGrid">
    <tbody>
    <tr>
        <td>
            Column Name
        </td>
        <td>
            Display Text
        </td>
        <td>
            Searchable
        </td>
        <td>
            Default Value
        </td>
        <td>
            Unique
        </td>
        <td>
            Type
        </td>
        <td>
            Length
        </td>
        <td>
            Variable
        </td>
        <td>
            Inter- national
        </td>
        <td>
            Required
        </td>
        <td>
            Reference Table
        </td>
        <td>
            Reference Column
        </td>
        <td>
            Display Column
        </td>
        <td>
            List
        </td>
    </tr>
    <tr>
        <td>
            title
        </td>
        <td>
            Titel
        </td>
        <td>
            SELECTX
        </td>
        <td>
            NO
        </td>
        <td>
            YES
        </td>
        <td>
            CHAR
        </td>
        <td>
            255
        </td>
        <td>
            YES
        </td>
        <td>
            YES
        </td>
        <td>
            YES
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            YES
        </td>
    </tr>
    <tr>
        <td>
            type
        </td>
        <td>
            Type
        </td>
        <td>
            SELECTBY
        </td>
        <td>
            NO
        </td>
        <td>
            YES
        </td>
        <td>
            CHAR
        </td>
        <td>
            80
        </td>
        <td>
            YES
        </td>
        <td>
            YES
        </td>
        <td>
            YES
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            YES
        </td>
    </tr>
    <tr>
        <td>
            data
        </td>
        <td>
            Data
        </td>
        <td>
            NO
        </td>
        <td>
            NO
        </td>
        <td>
            NO
        </td>
        <td>
            CHAR
        </td>
        <td>
            80
        </td>
        <td>
            YES
        </td>
        <td>
            YES
        </td>
        <td>
            YES
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            YES
        </td>
    </tr>
    <tr>
        <td>
            id
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            PK
        </td>
        <td>
            YES
        </td>
        <td>
            INT
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            YES
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            NA
        </td>
        <td>
            YES
        </td>
    </tr>
    </tbody>
</table>